RewriteEngine on

RewriteRule ^public/index\.php$ / [R=301,L]

RewriteRule ^$ public/ [L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://localhost/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://localhost$      [NC]
RewriteCond %{HTTP_REFERER} !^http://localhost:8000/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://localhost:8000$      [NC]
RewriteCond %{HTTP_REFERER} !^http://app.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://app.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://app.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://app.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hr.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hr.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hr.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hr.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://longbeachcambodia.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://longbeachcambodia.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://longbeachcambodia.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://longbeachcambodia.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nb.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nb.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://skcosmetic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://skcosmetic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://skcosmetic.com.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://skcosmetic.com.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sksk.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sksk.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sksk.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sksk.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vvc.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vvc.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wh.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wh.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.app.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.app.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hr.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hr.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hr.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hr.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.longbeachcambodia.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.longbeachcambodia.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.longbeachcambodia.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.longbeachcambodia.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nb.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nb.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.skcosmetic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.skcosmetic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.skcosmetic.com.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.skcosmetic.com.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sksk.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sksk.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sksk.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sksk.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vvc.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vvc.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wh.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wh.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://app.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://app.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hr.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hr.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hr.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hr.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://longbeachcambodia.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://longbeachcambodia.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://longbeachcambodia.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://longbeachcambodia.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nb.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nb.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://skcosmetic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://skcosmetic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://skcosmetic.com.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://skcosmetic.com.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sksk.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sksk.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sksk.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sksk.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vvc.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vvc.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wh.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wh.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.app.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.app.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hr.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hr.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hr.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hr.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.longbeachcambodia.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.longbeachcambodia.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.longbeachcambodia.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.longbeachcambodia.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nb.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nb.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.skcosmetic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.skcosmetic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.skcosmetic.com.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.skcosmetic.com.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sksk.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sksk.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sksk.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sksk.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vvc.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vvc.kouprey.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vvc.kouprey.asia$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wh.vvc.asia/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wh.vvc.asia$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php84” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php84___lsphp .php .php8 .phtml
</IfModule>

# php -- END cPanel-generated handler, do not edit
RewriteCond %{HTTP_HOST} ^sksk\.asia$ [OR]
RewriteCond %{HTTP_HOST} ^www\.sksk\.asia$
RewriteRule ^/?$ "https\:\/\/kouprey\.asia\/" [R=301,L]

